html, body {
    min-height: 100% !important;
    height: 100%;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

.form-group {
    margin-bottom: 0.75rem !important;
}

.carrousel {
  margin: 0px 0px;
  padding: 5px 50px;
}

.variable-width .slick-slide p {
  background: #eee;
  height: 100px;
  color: #fff;
  margin: 5px;
  line-height: 100px;
  text-align: center;
}
.center .slick-center h5 {
  color: #e67e22;
  opacity: 1;
  transform: scale(1.08);
}
.center h5{
  opacity: 0.8;
  transition: all 300ms ease;
}
.slick-slide .image {
  padding: 10px;
}
.slick-slide img {
  border: 5px solid #FFF;
  display: block;
  margin: auto;
}
.slick-slide img.slick-loading {
  border: 0
}
.slick-slider {
}
.slick-dots {
  margin-left: 0;
}
.slick-thumb {
  bottom: -45px;
  li {
    width: 60px;
    height: 45px;
    img {
      filter: grayscale(100%);
    }
    &.slick-active {
      img {
        filter: grayscale(0%);        
      }
    }
  }
}
.slick-prev:before,
.slick-next:before {
    font-size: 48px;
    color: #607d8b;
}

.slick-next {
    right: -24px;
}

.slick-prev {
    left: -52px;
}



@media (max-width: 768px) {

  .carrousel {
    padding: 5px 40px;
  }

  .center {
    margin-left: -40px;
    margin-right: -40px;
  }
  .center .slick-center h5 {
    color: #e67e22;
    opacity: 1;
    transform: scale(1);
  }
  .center h5 {
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease;
  }
  .slick-prev:before,
  .slick-next:before {
      font-size: 32px;
  }
  .slick-next {
      right: -29px;
  }
  .slick-prev {
      left: -41px;
  }
}
// just like in the regular library, we cannot simply have a vertical
// slider fill available space like in the horizontal case
//
// we have to therefore set the height of a slide in a vertical slider
// explicitly in CSS or otherwise
.slick-vertical .slick-slide {
  height: 180px;
}
