html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}



.active {
  color: green;
}

.geolocation_display_ok{
	color: green;
}

.geolocation_display_ko{
	color: red;
}

.geolocation_statistics{
	color: grey;
	margin-top: 40;
}

.margin-right{
	margin-right: 10px !important;
}


.navigation_main_choice {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style-type: none;
    list-style: none;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    @media (min-width: 900px): {
      display: none;
      font-size: 20px;
    }
  }

.navigation_main_choice li {  
    background: tomato;
}


