html, body {
    min-height: 100% !important;
    height: 100%;
}

/*
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}
*/

.form-group {
    margin-bottom: 0.75rem !important;
}

.carrousel {
  margin: 0px 0px;
  padding: 5px 50px;
}

.variable-width .slick-slide p {
  background: #eee;
  height: 100px;
  color: #fff;
  margin: 5px;
  line-height: 100px;
  text-align: center;
}
.center .slick-center h5 {
  color: #e67e22;
  opacity: 1;
  transform: scale(1.08);
}
.center h5{
  opacity: 0.8;
  transition: all 300ms ease;
}
.slick-slide .image {
  padding: 10px;
}
.slick-slide img {
  border: 5px solid #FFF;
  display: block;
  margin: auto;
}
.slick-slide img.slick-loading {
  border: 0
}
.slick-slider {
}
.slick-dots {
  margin-left: 0;
}
.slick-thumb {
  bottom: -45px;
  li {
    width: 60px;
    height: 45px;
    img {
      filter: grayscale(100%);
    }
    &.slick-active {
      img {
        filter: grayscale(0%);        
      }
    }
  }
}
.slick-prev:before,
.slick-next:before {
    font-size: 48px;
    color: #607d8b;
}

.slick-next {
    right: -24px;
}

.slick-prev {
    left: -52px;
}



@media (max-width: 768px) {

  .carrousel {
    padding: 5px 40px;
  }

  .center {
    margin-left: -40px;
    margin-right: -40px;
  }
  .center .slick-center h5 {
    color: #e67e22;
    opacity: 1;
    transform: scale(1);
  }
  .center h5 {
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease;
  }
  .slick-prev:before,
  .slick-next:before {
      font-size: 32px;
  }
  .slick-next {
      right: -29px;
  }
  .slick-prev {
      left: -41px;
  }
}
// just like in the regular library, we cannot simply have a vertical
// slider fill available space like in the horizontal case
//
// we have to therefore set the height of a slide in a vertical slider
// explicitly in CSS or otherwise
.slick-vertical .slick-slide {
  height: 180px;
}











/**************************************************************

                    MAIN PAGE items

    Default: narrow version (mobiles)  (vertical presentation)
    Exceptions: larger screens (horizontal presentation)

**************************************************************/

.navbar-inverse .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.85);
}

.navbar-inverse .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}



.jumbotron {
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    background-color: #eceeef;
    border-radius: 0.3rem;
}


.homepage-container {
    max-width: 1040px;
    min-width: 320px;
    position: relative;
    margin: 0 auto;
    padding: 1rem 1rem;
    text-align: center;
}

.homepage-container .homepage-feature-items {
    max-width: 21rem;
    margin: 0.125rem auto 0;
    padding: 0;
}

.homepage-container .homepage-feature-item {
    position: relative;
    clear: both;
    margin-bottom: 2.5rem;
}

.homepage-container .homepage-feature-icon {
    width: 3.75rem;
    position: absolute;
    top: 0;
    left: 0;
}

.homepage-container .homepage-feature-title,
.homepage-container .homepage-feature-detail,
.homepage-container .homepage-feature-icon {
    color: #000;
}


.homepage-container .homepage-feature-title {
    color: #000;
    font-size: 1rem;
    padding-top: 2px;
    padding-bottom: 2px;
}

.homepage-container .homepage-feature-title, .homepage-container .homepage-feature-detail {
    padding-left: 5.5rem;
    text-align: left;
}

.homepage-container .homepage-feature-detail {
    min-height: 3rem;
    margin-top: .5rem;
    line-height: 1.43;
}


@media only screen and (min-width: 23.4375em) {

  .homepage-container .homepage-feature-items {
      padding: 0 1rem;
  }

}



@media only screen and (min-width: 48.0625em) {

  .homepage-container {
      padding: 4rem 1rem;
  }

  .homepage-container .homepage-feature-items {
    overflow: hidden;
    max-width: 44.5625rem;
    margin-left: auto;
    margin-right: auto;
  }
 
 .homepage-container .homepage-feature-item {
    float: left;
    width: 12.5rem;
    text-align: center;
    clear: none;
    margin-bottom: 0;
  }

  .homepage-container .homepage-feature-item:not(:last-child) {
    margin-right: calc((44.5625rem - 39.5rem)/2);
  }

  .homepage-container .homepage-feature-icon {
      width: 100%;
      height: 6rem;
      position: relative;
  }

  .homepage-container .homepage-feature-title {
      font-size: 1.125rem;
      padding-top: .375rem;
      padding-bottom: 0;
  }

  .homepage-container .homepage-feature-title, .homepage-container .homepage-feature-detail {
    padding-left: 0;
    text-align: center;
}

  .homepage-container .homepage-feature-detail {
      min-height: 3rem;
  }

}




/**************************************************************

                Bootstrap / Reactstrap MODAL

    Allow full screen modal
    Reactstrap usage: modalClassName="modal-dialog" contentClassName="modal-content"

**************************************************************/


.sim-loc-mod {
  position: fixed;
  margin: 0;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: column;
}

@media (min-width: 768px) {
  .sim-loc-mod {
    position: fixed;
    margin: 5% 10%;
    min-height: 80%;
    min-width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
  }
}


@media (min-width: 960px) {
  .sim-loc-mod {
    margin: 8% 15%;
    min-height: 70%;
    min-width: 70%;
    height: 70vh;
  }
}


@media (min-width: 1200px) {
  .sim-loc-mod {
    margin: 10% 20%;
    min-height: 60%;
    min-width: 60%;
    height: 60vh;
  }
}


.sim-loc-mod .modal-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}



.sim-loc-mod .modal-body {
    display: flex;
    margin: 0;
    padding: 0px;
}


@media (max-height: 480px) {

  .sim-loc-mod .modal-header {
    padding: 5px;
  }

  .sim-loc-mod .modal-footer {
    padding: 5px;
  }

}






/**************************************************************

                    FORMS

    Minimal width asked (if narrower: scrollbars)
    Maximum width to restrict in full screen
    But still put some margin on narrower screens
    (except mobile ones)

**************************************************************/




.standard-container {
    min-width: 260px;
    margin: 15px 0px;
}

.form-block {
    padding: 1rem 1rem;
    margin-bottom: 2rem;
    background-color: #eceeef;
    border-radius: 0.3rem;
}



@media (min-width: 576px) {
  .standard-container {
    margin: 25px auto;
  }

  .form-block {
      padding: 30px 30px 30px 5px;
  }

}


@media (min-width: 768px) {

  .standard-container {
    max-width: 720px;
  }

  .form-block {
      padding: 40px 50px 40px 10px;
  }

}

@media (min-width: 1200px) {

  .standard-container {
    max-width: 992px;
  }

  .form-block {
      padding: 50px 75px 50px 15px;
  }

}


.element-with-transition {
  transition: all 1.0s ease;
}

.highlighted {
  opacity: 1;
  background-color: #ffcdd2;
}

.highlighted-option {
  opacity: 1;
  background-color: #ffebee;
}

.standard {
  background-color: #eceeef;
}

.dimmed {
  opacity: 0.3;
}

.semi-opaque {
    opacity: .5;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
    background-color: #000;
}






/**************************************************************

                    RESULTS


**************************************************************/



.result-item-block {
  border-bottom: 1px solid #bbb!important;
}

.result-item-name {
  color: #333;
}

.result-item-rate {
  font-size: 0.9rem;
  color: steelblue;
}

.result-item-location {
  font-size: 0.9rem;
  color: #666;
}

.result-item-location a:link, .result-item-location a:visited .result-item-location a:hover, .result-item-location a:active {
  text-decoration: none;
  width: 100%;
}

.result-item-individual-mark {
}

.result-item-image {
  text-align: right;
}

.bordered-block {
  padding: 5px;
  border: 1px solid #ddd!important;
}




.pl-3-if-large {
    padding-left: 0;
}

@media (min-width: 375px) {
  .pl-3-if-large {
      padding-left: 1rem!important;
  }
}




/*
// Note: If max-width changed from 250, please update:
//    - placeController.batchUpdatePlacesWithGooglePhoto method (plus apiRoutes) on server side
//    - RetreiveLocations.componentWillReceiveProps method on Client side
//    - .result-item-picture in index.css on Client side
*/
.result-item-picture {
  width: inherit;
  height: inherit;
  max-width: 250px;
}

.result-item-directions {
  
}


.bottom-space-for-help {
  margin-bottom: 10rem!important;
}